<div class="row">
	<form name='companyQuery'>
	    <input ng-model="search" class="form-control" ng-autocomplete options="companyOptions" details="companyDetails"></input>
		<button ng-click="queryCompany(companyDetails)" type="button" class="btn btn-default">Seach Company</button>
	</form>

	<br>
	<h4>Reviews for {{company.name}}</h4>
	<p>Address: {{company.location}}</p>
	<p>Website: {{company.website}}</p>
	<table class="table">
		<tr>
			<th>Position</th>
			<th>Rating</th>
			<th>Notes</th>
		</tr>
		<tr ng-repeat="review in reviews">
			<td>{{review.position}}</td>
			<td>{{review.rating}}</td>
			<td>{{review.notes}}</td>
		</tr>
	</table>
</div>