<div class="row">
  <form name="loginForm" ng-controller="loginCtrl"
        ng-submit="login(credentials)" novalidate>
    <label for="username">Username:</label>
    <input type="text" id="username"
           ng-model="credentials.username">
    <label for="password">Password:</label>
    <input type="password" id="password"
           ng-model="credentials.password">
    <button type="submit">Login</button>
  </form>
  <p>Logged in as: {{currentUser.username}}</p>
  <button ng-click="logout()" type="button" class="btn btn-default">Logout</button>
</div>