<div class="row">
	<h3>Recently Reviewed Internships</h3>
	<table class="table">
		<tr>
			<th>Company</th>
			<th>Position</th>
			<th>Location</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Rating</th>
			<th>Notes</th>
			<th>Update</th>
		</tr>
		<tr ng-repeat="review in reviews">
			<td>{{review.company}}</a></td>
			<td>{{review.position}}</a></td>
			<td>{{review.location}}</td>
			<td>{{review.startDate}}</td>
			<td>{{review.endDate}}</td>
			<td>{{review.rating.tech}} {{review.rating.env}} {{review.rating.benefits}} {{review.rating.content}} {{review.rating.interview}}</td>
			<td>{{review.notes}}</td>
			<td><a href="#/review/modify/{{$index}}">Edit</a></td>
		</tr>
	</table>
</div>