<div class="row">
	<h3 ng-show="{{!editing}}">Add Internship Review</h2>
	<h3 ng-show="{{editing}}">Edit Internship Review</h2>
	<form name="createReviewForm">
	  <div class="form-group">
	    <label>Company</label>
	    <input ng-model="review.company" ng-disabled='{{editing}}' class="form-control" ng-autocomplete options="companyOptions" details="companyDetails"></input>
	  </div>

	  <div class="form-group">
	    <label>Position</label>
	    <input ng-model="review.position" class="form-control"></input>
	  </div>

	  <div class="form-group">
	  	<label>Rating</label>
	    <div ng-controller="ratingCtrl">
		    <rating ng-model="review.rating" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
			</div>
	  </div>

	  <div class="form-group">
	    <label>Notes</label>
	    <textarea ng-model="review.notes" class="form-control" row="4"></textarea>
	  </div>

  	  <button ng-click="addReview(companyDetails)" type="button" class="btn btn-default" ng-show="{{!editing}}">Add Review</button>
  	  <button ng-click="deleteReview()" type="button" class="btn btn-default" ng-show="{{editing}}">Delete Review</button>
	  <button ng-click="editReview()" type="button" class="btn btn-default" ng-show="{{editing}}">Edit Review</button>

	</form>
</div>