<div class="row">
	<h3 ng-show="{{!editing}}">Add Internship Review</h2>
	<h3 ng-show="{{editing}}">Edit Internship Review</h2>
	<form name="createReviewForm">
	  <div class="form-group">
	    <label>Company</label>
	    <input ng-model="review.company" ng-disabled='{{editing}}' class="form-control" ng-autocomplete options="companyOptions" details="companyDetails" ng-required="true"></input>
	  </div>

	  <div class="form-group">
	    <label>Position</label>
	    <input ng-model="review.position" class="form-control" ng-required="true"></input>
	  </div>

	  <div class="form-group">
	  	<label>Duration of Internship</label>
	    <div class="row">
	        <div class="col-md-3" ng-controller="DatepickerCtrl">
	            <p class="input-group">
	              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="review.startDate" is-open="opened" max-date="'today'" datepicker-options="dateOptions"  ng-required="true" show-button-bar="false" show-weeks="false"/>
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>
	        </div>
	        <div class="col-md-3" ng-controller="DatepickerCtrl">
	            <p class="input-group">
	              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="review.endDate" is-open="opened" max-date="'today'" datepicker-options="dateOptions"  ng-required="true" show-button-bar="false" show-weeks="false"/>
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>
	        </div>
    </div>

	  </div>

	  <div class="form-group">
	  	<label>Duration of Internship</label>
	  </div>

	  <div class="form-group">
	  	<label>Rating</label>
	    <table class="table">
	    	<tr ng-controller="RatingCtrl">
	    		<td>Technical Knowledge</td>
				<td><rating ng-model="review.rating.tech" max="10" ng-required="true"></rating></td>
			</tr>
			<tr ng-controller="RatingCtrl">
	    		<td>Environment</td>
				<td><rating ng-model="review.rating.env" max="10" ng-required="true"></rating></td>
			</tr>
			<tr ng-controller="RatingCtrl">
	    		<td>Benefits</td>
				<td><rating ng-model="review.rating.benefits" max="10" ng-required="true"></rating></td>
			</tr>
			<tr ng-controller="RatingCtrl">
	    		<td>Job Content</td>
				<td><rating ng-model="review.rating.content" max="10" ng-required="true"></rating></td>
			</tr>
			<tr ng-controller="RatingCtrl">
	    		<td>Interview Process</td>
				<td><rating ng-model="review.rating.interview" max="10" ng-required="true"></rating></td>
			</tr>
		</table>
	  </div>

	  <div class="form-group">
	    <label>Notes</label>
	    <textarea ng-model="review.notes" class="form-control" row="4"></textarea>
	  </div>

  	  <button ng-click="addReview(companyDetails)" type="button" class="btn btn-default" ng-show="{{!editing}}">Add Review</button>
  	  <button ng-click="deleteReview()" type="button" class="btn btn-default" ng-show="{{editing}}">Delete Review</button>
	  <button ng-click="editReview()" type="button" class="btn btn-default" ng-show="{{editing}}">Edit Review</button>

	</form>
</div>